@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700,900&subset=latin-ext');

body, html { min-height: 100vh; background-color: #fcfcfc; }
.root { height: 100vh; }
.alert-default { background: #f7f7f7; font-size: 18px; padding: 20px; border-radius: 6px; -webkit-box-shadow: 1px 1px 0 1px #f2f2f2; box-shadow: 1px 1px 0 1px #f2f2f2; border: 1px solid #f0f0f0; }
.invalid-feedback { display: block; }

.modal-content { border-color: #f0f0f0; -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.05); box-shadow: 0 0 10px 0 rgba(0,0,0,.05); }
.modal-header, .nav-tabs { background-color: #fcfcfc; }
.nav-tabs { border-color: #ededed; padding: 0 15px; }
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { border-color: #ededed #ededed #ddd; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { border-color: #ededed #ededed #fff; }
.modal-footer { background-color: #fcfcfc; border-color: #ededed; }
.modal-header__h4 { font-family: 'Lato'; font-weight: bold; font-size: 1.7rem; color: #434343 }