<header class="page-navigation d-flex align-items-center" *ngIf="isLogged">
	<nav class="page-navigation__menu clearfix mr-auto">
		<a routerLink="dashboard" routerLinkActive="active" class="page-navigation__link"><i class="material-icons page-navigation__ico">dashboard</i>Dashboard</a>
		<a routerLink="categories" routerLinkActive="active" class="page-navigation__link"><i class="material-icons page-navigation__ico">device_hub</i>Kategórie</a>
		<a routerLink="products" routerLinkActive="active" class="page-navigation__link"><i class="material-icons page-navigation__ico">shopping_basket</i>Produkty</a>
	</nav>
	<div class="page-navigation__account">{{loginAccount.email}}</div>
	<button class="btn-logout d-flex align-content-center justify-content-center align-self-stretch" (click)="logout()" title="Odhlásiť"><i class="material-icons">lock_open</i></button>
</header>

<router-outlet></router-outlet>