.page-navigation { flex: 0 0 60px; height: 60px; background: #f7f7f7; margin: 0 0 25px; padding: 0 25px; border-bottom: 2px solid #f5f5f5; font-family: 'Lato';  -webkit-box-shadow:inset 0 -2px 10px -4px rgba(0,0,0,.03); box-shadow:inset 0 -2px 10px -4px rgba(0,0,0,.03); }
.page-navigation__menu { height: 100%; }
.page-navigation__link { float: left; display: block; padding: 0 25px; height: calc(100% + 2px); border-right: 1px solid #f2f2f2; font-weight: bold; color: #434343; line-height: 58px; font-size: 20px; }
.page-navigation__link.active { background-color: #ffffff; -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,.03);
    box-shadow: 0 0 10px -4px rgba(0,0,0,.03); }
.page-navigation__ico { vertical-align: middle; margin: 0 14px 0 0; position: relative; top: -2px; color: #c7c7c7; transition: all 250ms; }
.page-navigation__link.active .page-navigation__ico { color: #007bff; }
.page-navigation__account { font-weight: bold; color: #28a745; }

.btn-logout { background: #f0f0f0; margin: 0 -25px 0 25px; width: 60px; flex: 0 0 60px; border-color: #ededed; border-width: 0 0 0 1px; border-style: solid; cursor: pointer; -webkit-box-shadow:inset 0 0 30px -6px rgba(0,0,0,.04);
 box-shadow:inset 0 0 30px -6px rgba(0,0,0,.04); }
.btn-logout .material-icons { font-size: 26px; color: #c7c7c7; transition: all 150ms; }
.btn-logout:hover .material-icons { color: #dc3545; }