<h1>Login</h1>

<form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
	<div>
		<label for="emailInput">Email:</label>
		<input type="email" required name="email" id="emailInput" #email="ngModel" ngModel>

		<div *ngIf="email.invalid && (email.dirty || email.touched)">
			<div *ngIf="email.errors.required">Email is required</div>
		</div>
	</div>
	<div>
		<label for="passwordInput">Password:</label>
		<input type="password" required name="password" id="passwordInput" #password="ngModel" ngModel>
		<div [hidden]="password.valid || password.pristine">Password is required</div>
	</div>
	<div>
		<button type="submit" [disabled]="!loginForm.form.valid">Prihlasit sa</button>
	</div>
</form>