.categories { padding: 0 25px 25px; height: calc(100vh - 85px); }
.categories__header {  margin: -25px -25px 25px; padding: 25px; border-bottom: 1px solid #f2f2f2; -webkit-box-shadow: 0 4px 10px -3px rgba(0,0,0,.04); box-shadow: 0 4px 10px -3px rgba(0,0,0,.04); position: relative; background: #ffffff; }
.categories__helper { margin: 0 0 10px 50px; position: relative; }
.categories__helper::before { content: ""; position: absolute; top: 70px; bottom: 0px; left: 25px; width: 1px; border-left: 1px dashed #e3e3e3; transition: all 150ms; visibility: hidden; opacity: 0; }
.categories__helper:hover::before { visibility: visible; opacity: 1; }
.categories__helper:last-child { margin-bottom: 0; }
.categories__body { overflow-x: auto; margin: -25px; padding: 25px; }
.categories__list > .categories__helper { margin-left: 0; }
.categories__category { height: 56px; border: 1px solid #f5f5f5; border-radius: 6px; -webkit-box-shadow: 1px 1px 0 1px #f5f5f5; box-shadow: 1px 1px 0 1px #f5f5f5; padding: 0 10px 0 0; margin: 0 0 10px; transition: all 150ms ease-out; background-color: #fff }
.categories__category:hover { border-color: #ededed; -webkit-box-shadow: 1px 1px 0 1px #ededed; box-shadow: 1px 1px 0 1px #ededed; background-color: #fcfcfc; }
.categories__category:last-child { margin-bottom: 0; }
.categories__categorydrop { width: 50px; flex: 0 0 50px; display: flex; align-items: center; justify-content: center; cursor: move; }
.categories__categorydrop .material-icons { color: #dedede }
.categories__categoryname { padding: 0 15px 0 0;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.categories__categorytype { padding: 0 15px; font-style: italic; color: #abafb3; font-size: 14px; }
.categories__categorybtn { background: #fcfcfc; margin: 0 5px 0 0; padding-left: 0px; padding-right: 0px; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 41px; border-color: #f2f2f2; border-radius: 6px; }
.categories__categorybtn .material-icons { color: #636363; font-size: 23px; transition: color 150ms; }
.categories__categorybtn:hover .material-icons { color: #007bff; }
.categories__category.not-visible { opacity: 0.35; }

.modal-alert { padding: 15px 15px 0; }
.modal-header.no-border { border-bottom: 0; }

.custom-scrollbar::-webkit-scrollbar-track { background-color: #f2f2f2; padding: 2px; }
.custom-scrollbar::-webkit-scrollbar { width: 12px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #ededed; border: 1px solid #e8e8e8 }

.custom-file { display: block; }