<section class="categories d-flex flex-column align-self-start">
	<header class="categories__header">
		<nav class="nav nav-pills flex-column flex-sm-row">
			<button type="button" class="flex-sm-fill text-sm-center btn nav-link active" (click)="openNewCategory(addCategory)">Nová kategória</button>
		</nav>
	</header>
	<main class="categories__body align-self-stretch custom-scrollbar">
		<div class="categories__list">
			<ng-container *ngTemplateOutlet="recursiveCategoryList; context: {$implicit: categories}"></ng-container>
		</div>
		<div class="alert alert-default" *ngIf="categories.length === 0">Momentálne nemáte vytvorenú žiadnu kategóriu</div>
	</main>
</section>

<ng-template #recursiveCategoryList let-categories>
	<div class="categories__helper" *ngFor="let category of categories">
		<div class="categories__category d-flex align-items-center" [ngClass]="(category.publish) ? 'visible' : 'not-visible'">
			<div class="categories__categorydrop">
				<i class="material-icons">open_with</i>
			</div>
			<div class="categories__categoryname mr-auto">{{category.name}}</div>
			<div class="categories__categorytype">{{ categoryType[category.type ]}}</div>
			<button class="btn categories__categorybtn" title="Upraviť menu"><i class="material-icons">mode_edit</i></button>
			<button class="btn categories__categorybtn" (click)="publishCategory(category)">
				<i class="material-icons">{{ category.publish ? "visibility" : "visibility_off" }}</i>
			</button>
			<button class="btn categories__categorybtn" title="Vymazať menu" (click)="remove(category)">
				<i class="material-icons">delete</i>
			</button>
		</div>
		<div *ngIf="category.children && category.children.length > 0">
			<ng-container *ngTemplateOutlet="recursiveCategoryList; context: {$implicit: category.children}"></ng-container>
		</div>
	</div>
</ng-template>

<ng-template #addCategory let-c="close">
	<form (ngSubmit)="onSubmit(addCategoryForm)" #addCategoryForm="ngForm" enctype="multipart/form-data">
		<div class="modal-header no-border">
			<h4 class="modal-header__h4">Nová kategória</h4>
        </div>
        <div class="modal-alert" *ngIf="successSave">
            <ngb-alert type="success" dismissible="true" (close)="successSave=false">Kategória bola úspešne uložená</ngb-alert>
        </div>
		<ngb-tabset [justify]="justified" [destroyOnHide]="false">
			<ngb-tab title="Obecné">
				<ng-template ngbTabContent>
					<div class="modal-body">
						<div class="form-group">
							<label for="addCategoryName">Názov kategórie:</label>
							<input type="text" name="name" class="form-control" id="addCategoryName" required #name="ngModel" ngModel [ngClass]="(name.invalid && (name.dirty || name.touched)) ? 'is-invalid' : ''">

							<div *ngIf="name.invalid && (name.dirty || name.touched)">
								<div class="invalid-feedback" *ngIf="name.errors.required">Nazov kategorie je povinny</div>
							</div>
						</div>
						<div class="form-group">
							<label for="addCategoryParent">Nadradené menu:</label>
							<select name="parent" id="addCategoryParent" class="form-control" #parent="ngModel" ngModel>
								<option value="">Root menu</option>
								<option *ngFor="let category of categoriesOption" [value]="category._id">{{category._nested}} {{category.name}}</option>
							</select>

							<div *ngIf="parent.invalid && (parent.dirty || parent.touched)">
								<div class="invalid-feedback" *ngIf="parent.errors.required">Prosim vyberte nadradene menu</div>
							</div>
						</div>
						<div class="form-group">
							<label for="addCategoryType">Typ menu:</label>
							<select name="type" id="addCategoryType" class="form-control" #type="ngModel" required [ngClass]="(type.invalid && (type.dirty || type.touched)) ? 'is-invalid' : ''" ngModel>
								<option value="0" selected="true">Abstraktné menu</option>
								<option value="1">Produktové menu</option>
							</select>

							<div *ngIf="type.invalid && (type.dirty || type.touched)">
								<div class="invalid-feedback" *ngIf="type.errors.required">Toto pole je povinné</div>
							</div>
						</div>
						<div class="form-group">
							<label for="addCategoryDescription">Popis:</label>
							<textarea name="description" id="addCategoryDescription" class="form-control" rows="5" #desc="ngModel" ngModel></textarea>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Seo">
				<ng-template ngbTabContent>
					<div class="modal-body" ngModelGroup="seo">
						<div class="form-group">
                            <label for="categorySeoKeywords">Kľúčové slová:</label>
                            <input type="text" name="keywords" class="form-control" id="categorySeoKeywords" #keywords="ngModel" maxlength="255" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="categorySeoDescription">Description:</label>
                            <textarea name="description" id="categorySeoDescription" class="form-control" rows="5" #description="ngModel" maxlength="255" ngModel></textarea>
                        </div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Fotka">
				<ng-template ngbTabContent>
					<div class="modal-body">
						<div class="form-group">
							<label for="categoryImage">Nahrať obrázok:</label>
							<div>
								<label class="custom-file">
									<input type="file" name="image" id="categoryImage" class="custom-file-input" (change)="fileSelected($event.target.files)" multiple="false" accept="image/*">
									<span class="custom-file-control"></span>
								</label>
							</div>
                        </div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
		<div class="modal-footer">
			<button type="submit" [disabled]="!addCategoryForm.form.valid && !generatePhoto" class="btn btn-primary">Vytvoriť kategóriu</button>
			<button type="button" [disabled]="generatePhoto" class="btn btn-light" (click)="c()">Zavrieť</button>
		</div>
	</form>
</ng-template>